<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
<header>
    <h1><%= title %></h1>
</header>
<nav>
    <ul style="list-style-type: none; display: flex; justify-content: space-around; padding: 0;">
        <li><a title="Home page" href="../">Home</a></li>
        <li><a title="Login" href="../login">Login</a></li>
        <li><a title="Register" href="../reg">Register</a></li>
    </ul>
</nav>
</body>
</html>
